#wrap {
  text-align: center;
  margin-top: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: helvetica;
  background-image: url('/media/images/136.gif');
  color: #333333;
}
#navigation {
  background-color: #dddddd;
  background-image: url('/media/images/vertical-gradient-50.png');
  background-repeat: repeat-x;
  height: 50px;
}
#navigation ul {
  padding: 0;
  margin: 0;
}
#navigation ul li { display: inline; }
#navigation ul li a {
  margin-right: -2px;
  float: left;
  display: block;
  width: 130px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #dddddd;
  text-decoration: none;
  color: #000000;
  background-image: url('/media/images/vertical-gradient-50.png');
  background-repeat: repeat-x;
}
#navigation ul li a:hover { background-color: #aaaaaa; }
#navigation ul .right { float: right; }
#content {
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
  text-align: left;
}
#content .padding_wrap { padding: 20px; }
#content h2 {
  margin: 0;
  padding: 0;
}
#content .newsitem {
  font-size: 120%;
  font-variant: small-caps;
  letter-spacing: 0.15ex;
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}
#content .first {
  border-top: none;
  padding-top: 0;
}
#content .date {
  color: #999999;
  font-size: 65%;
}
#content p { font-size: 90%; }
#header {
  background-image: url('/media/images/vertical-gradient-100.png');
  background-repeat: repeat-x;
  background-color: #343693;
  height: 100px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid black;
}
#header h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  -moz-text-shadow: 1px 1px 1px #000000;
  -webkit-text-shadow: 1px 1px 1px #000000;
  margin-top: 20px;
}
#header .emphasis {
  text-transform: uppercase;
  font-style: italic;
}
#footer {
  text-align: right;
  padding-bottom: 20px;
}
#footer span {
  color: #ffffff;
  font-size: 60%;
}
.no_display { display: none; }
.active_toggle {
  background-color: #8e8596;
  color: #ffffff;
}
.inactive_toggle {
  background-color: #dcd9de;
  color: #665874;
}
#login {
  overflow: visible;
  padding: 0 0 3px 0;
  color: #ffffff;
  font-size: 60%;
  position: relative;
  text-align: right;
  height: 30px;
}
#login #toggle {
  text-decoration: none;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold;
}
#login #login_menu {
  padding: 0;
  margin: 0;
}
#login #login_menu form {
  text-align: left;
  margin: 0;
  width: 300px;
  margin-top: -7px;
}
#login #login_menu form fieldset {
  position: absolute;
  right: -2px;
  top: 17px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-top-leftt-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  border: none;
  background-color: #8e8596;
  padding: 20px 20px 0 20px;
}
#login #login_menu form fieldset legend { display: none; }
#login #login_menu form fieldset label {
  margin: 0;
  display: block;
}
#login #login_menu form fieldset input[type=text] {
  width: 150px;
  margin: 0;
  margin-bottom: 5px;
}
#login #login_menu form fieldset input[type=password] {
  width: 150px;
  margin: 0;
  margin-bottom: 5px;
}
#login #login_menu form fieldset p { text-align: right; }
