<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Yes News Now</title>
<link rel=stylesheet href="/media/grid.css" type="text/css">
<link rel=stylesheet href="/media/main.css" type="text/css">
</head>
<body>
	<div id="wrap">
    <div id="header" class="row">
		<div class="column grid_8">
			<h1>Yes News <span class="emphasis">Now</span></h1>
		</div>
		<div class="column grid_4" id="login">
			{% if user.is_authenticated %}
				<h3>Welcome {{user.email}}</h3>
				<span><a href="">Logout</a></span>
			{% else %}
			<form method="post" action=""> 
				<fieldset> 
					<legend>Login</legend> 
					<label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30">
					<label for="id_password">Password:</label> <input type="password" name="password" id="id_password">
					<input type="submit" value="Login">
				</fieldset> 
			</form>
			{% endif %}
		</div>
    </div>
    <div id="navigation" class="row">
        <ul>
            <li><a href="">Companies</a></li>
            <li><a href="">Releases</a></li>
            <li><a href="">Releases</a></li>
            <li><a href="">Releases</a></li>
            <li><a href="">Releases</a></li>
        </ul>
    </div>
	<div id="content" class="row">
		<div class="column grid_8">
			<div class="padding_wrap">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div class="column grid_4">
			<div class="padding_wrap">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
	</div>
	<div id="footer" class="row">
		<div class="column grid_12"><span>Copyright (c) Some people. A division of Yes International Inc.</span></div>
	</div>
	</div>
</body>
</html>
