<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Yes News Now</title>
<link type="text/css" href="/media/css/eggplant/jquery-ui-1.8.custom.css" rel="stylesheet">
<link type="text/css" href="/media/css/grid.css" rel="stylesheet" >
<link type="text/css" href="/media/css/main.css" rel="stylesheet" >
<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript">
$(function() {
	$("#login_menu input[type=submit]").button({});
	$("#toggle").bind('click',
		function(){
			$("#login_menu").toggleClass("no_display");
			$("#toggle").toggleClass("active_toggle inactive_toggle");
			return false;
		}
	);
});
</script>
</head>
<body>
	<div id="wrap">
	<div id="login" class="row">
		<a href="#" id="toggle" class="inactive_toggle">Log In</a>
		<div id="login_menu" class="no_display">
			<form method="post" action="{% url django.contrib.auth.views.login %}"> 
				<fieldset> 
					<legend>Login</legend> 
					<label for="id_username">Email:</label> <input id="id_username" type="text" name="username" maxlength="30">
					<label for="id_password">Password:</label> <input type="password" name="password" id="id_password">
					<p><input type="submit" value="Login"></p>
				</fieldset> 
			</form>
		</div>
	</div>
    <div id="header" class="row">
		<div class="column grid_12">
			<h1>Yes News <span class="emphasis">Now</span></h1>
		</div>
    </div>
    <div id="navigation" class="row">
        <ul>
            <li><a href="{% url companies.views.company_list %}">Companies</a></li>
            <li><a href="{% url companies.views.post_list %}">Releases</a></li>
            <li><a class="right" href="{% url register.views.register %}">Register</a></li>
        </ul>
    </div>
	<div id="content" class="row">
		<div class="column grid_8">
			<div class="padding_wrap">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div class="column grid_4">
			<div class="padding_wrap">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
	</div>
	<div id="footer" class="row">
		<div class="column grid_12"><span>Copyright (c) Some people. A division of Yes International Inc.</span></div>
	</div>
	</div>
</body>
</html>
